<!--
<%
function foo(obj){
    var str = trim(@eof 
        <div class="c-item-list-1 c#{obj.prop1 % 4 + 1} #{obj.prop2}">
            #{obj.prop1 + 1} #{obj.prop2} #{obj.prop3} #{
            <div class="c-card">
                <div class="ctn-wrap chart-wrap j-star-chart-list"></div>
            </div>
        </div>
    eof), var2 = 123;

    return str;
}
%>
<%% test escape %%>
<%if(obj.count && obj.count > 0){%>
    <div class="c-item-list-1 c<%=prop1%> <%=prop1%>">
        <% if(count > 10){ %>
            <div class="view-more">
                <a href="/talk/ls.htm?id=<%= id %>&type=2">
                    <span class="more-txt">查看更多</span>
                    <i class="more-icon"></i>
                </a>
            </div>
            <!--#include file="sub.html"-->
        <% } %>
    </div>
<%}else{%>
    <div class="no-result">
        <p>暂时还没有内容奥~</p>
    </div>
<%}%>
-->

<% if(window.showEmpty){ %>
    <% window.showEmpty = false; %>
    <div class="project-empty"></div>
<% } %>
<% _.each(data.dataList, function(item){ %>
    <% if(item.projectItemVO.underWay.toString()=='true'){ %>
        <div class="c-card">
            <div class="c-card-img">
                <a href="<%= item.projectItemVO.url %>"><img data-src="<%= _.formatImageUrl(item.projectItemVO.img, 300) %>" class="img"/></a>
                <div class="c-support"><%= _.convertFollow(item.projectItemVO.praise) %></div>
            </div>
            <div class="c-card-title bBor">
                <h3 class="title"><a href="<%= item.projectItemVO.url %>"><%= item.projectItemVO.title %></a></h3>
                <p class="subhead"><%= item.projectItemVO.longSummary %></p>
            </div>
            <div class="c-card-foot" data-id="<%= item.projectItemVO.id %>">
                <% if(item.projectItemVO.status == '2'||item.projectItemVO.status == '1'){ %>
                <div class="c-clock<%= item.projectItemVO.subscribed.toString() == 'false' ? '' : ' act' %>"><%= item.projectItemVO.startTimeText %></div>
                <% }else{ %>
                <span class="price-widget red">
                    <% _.each((item.projectItemVO.price/100+'').split(''), function(priceStr){ %>
                    <i class="n<%if(priceStr!='.'){%><%= priceStr %><%}else{%>-dot<%}%>"></i>
                    <% }); %>
                    <span class="price-txt">元/份</span>
                </span>
                <% } %>
                <% switch(item.projectItemVO.status){
                case '1':
                %>
                <% if(item.projectItemVO.subscribed.toString() == 'false') { %>
                <a href="<%= item.projectItemVO.url %>" class="c-btn status-remind">预约提醒</a>
                <% } else { %>
                <a href="<%= item.projectItemVO.url %>" class="c-btn status-appointment">已预约</a>
                <% } %>
                <%
                break;
                case '2':
                %>
                <a href="<%= item.projectItemVO.url %>" class="c-btn status-start">即将开始</a>
                <%
                break;
                case '3':
                %>
                <a href="<%= item.projectItemVO.url %>" class="c-btn status-buy">立即抢购</a>
                <%
                break;
                case '4':
                %>
                <a href="<%= item.projectItemVO.url %>" class="c-btn status-soldout">已抢光</a>
                <%
                break;
                case '6':
                %>
                <a href="<%= item.projectItemVO.url %>" class="c-btn status-empty">已结束</a>
                <%
                break;
                } %>
            </div>
        </div>
    <%}else{%>
        <% if(window.showPartingTitle){ %>
        <% window.showPartingTitle = false; %>
        <div class="c-parting-title">
            <div class="bBor"></div>
            <h2>往期项目</h2>
            <div class="bBor"></div>
        </div>
        <%}%>
        <div class="c-card">
            <div class="c-card-img">
                <a href="<%= item.projectItemVO.url %>"><img data-src="<%= _.formatImageUrl(item.projectItemVO.img, 300) %>" class="img"/></a>
                <div class="c-support"><%= _.convertFollow(item.projectItemVO.praise) %></div>
            </div>
            <div class="c-card-title">
                <h3 class="title"><a href="<%= item.projectItemVO.url %>"><%= item.projectItemVO.title %></a></h3>
                <p class="subhead"><%= item.projectItemVO.longSummary %></p>
            </div>
        </div>
    <%}%>
<%})%>
